{% extends 'base.html' %}
{% load static %}
{% block title %}
Succesfull
{% endblock %}
{% block content %}
<div class="container-fluid p-0 mb-5">
  
</div>
<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4 justify-content-center">
          
            <div class="col-lg-12 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="course-item" >
                   
                    <div class="">
                        <h2 class="display-3 text-center text-success  animated slideInDown"> Book borrowed Successfully</h2>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</div>
<!-- Courses End -->


{% endblock %}